<div class="absolute top-4 right-4 flex flex-col text-right">
    <div class="mb-4">
        <p>Items In Cart</p>
        <span class="snipcart-items-count"></span>
    </div>
    <div class="mb-4">
        <p>Cart Total</p>
        <span class="snipcart-total-price"></span>
    </div>
    <button class="mb-6 snipcart-checkout">Click here to checkout</button>
    <button class="mb-6 snipcart-customer-signin">Account</button>

</div>

<div class="w-full text-center">

    <h1 class="text-2xl mb-6">Snipcart Clean Test</h1>


    <div class="flex justify-between">
        {{ collection:products }}
        <div class=" mt-2">
            <div class="">
                <h2>{{ title }}</h2>
                <p>£ {{ price }}</p>
                <p>{{ description }}</p>
            </div>

            {{ image }}
            <img src="{{ glide:url width=" 200" height="200" }}" alt="">
            {{ /image }}

            <button class="mt-6 snipcart-add-item" data-item-id="{{ id }}" data-item-price="{{ price }}"
                data-item-url="http://www.snipcart.reflex-dev.com" data-item-description="{{ description }}"
                data-item-image="{{ image }}" data-item-name="{{ title }}" data-item-file-guid="{{ download_id }}">
                Add to cart
            </button>

        </div>


        {{ /collection:products }}


    </div>


</div>

<div style="border: solid 1px red;">
    <div id="customerData"></div>
</div>

