<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>

        <link rel="preconnect" href="https://app.snipcart.com">
        <link rel="preconnect" href="https://cdn.snipcart.com">

        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />

        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    </head>
    <body class="bg-gray-100 font-sans leading-normal text-gray-800">
        <div class="mx-auto px-2 h-screen flex items-center justify-center">
            {{ template_content }}
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>

        <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
        <div hidden id="snipcart" data-api-key="NzQ1NGEwY2ItOWViMC00MWYwLTg1NzMtN2QyYTQ5NTc3MTFmNjM3NjYxMDg0Mjk0MzIzMTU5" data-config-modal-style="side" data-currency="gbp"></div>

    </body>
</html>
